streamlit==1.38.0
ultralytics==8.2.79
torch==2.3.0
torchvision==0.18.0
numpy==1.26.4
pandas==2.2.2
opencv-python-headless==4.8.1.78
Pillow==10.3.0
matplotlib==3.8.4
gdown==5.1.0
omegaconf==2.3.0
lapx==0.5.9
